/*.navbar{
    margin-top:20px;
    margin-bottom:10px;*/

    /*text-align: left;

}*/


.preloader{
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    z-index: 999;
    background: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('cere.gif');
}

.navbar img{
    height:30px;
    width:60px;
    margin-left: 10px;

}

.demo .img{
    justify-content: center;
}

/*
.navbar .navbar-brand{
    margin-left:10px;
}

.navbar .collapse{
    margin-left:400px;
}

.navbar .collapse .nav-item {
    margin-left:20px;
}

.navbar .collapse .nav-item {
    margin-left:20px;
}

.navbar .collapse .nav-item .nav-link{
    font-size: 17px;
    color:black;
}

.navbar .collapse .nav-item .nav-link:hover{
    transform:scale(1.1); 
    cursor: zoom-in;
    color:rgb(7, 7, 121);
}

.navbar-brand{
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: 2;
}

.nav-item{
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.active{
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}*/

/*
.navbar .collapse li{
    margin-right:30px;
    font-weight: 2.2rem;
}

.navbar .container .collapse li {
    text-decoration-color: black;
}*/
.carousel-inner .carousel-item img{
    height:600px;
    width:100%;
}

.container .head{
    text-align: center;
    margin-top:70px;
    padding-top:50px;
    padding-bottom:10px;

}

.container .row .card{
    border-bottom: 5px solid red;
}

.container .head h2{

}


..container .row {
    padding-bottom:20px;
}

.container .row .card img{
    height:300px;
    width:100%;
}

.card img{
    max-width: 100%;
    transition: transform .4s ease;
}

.row.no-padding [class*=col-]{
    padding:0;
}

.card img:hover {
    transform:scale(1.1); 
    cursor: zoom-in;
}

.card{
    overflow:hidden;
    border-bottom: 5px solid #000;
}


/*link design of "howw o do it"*/
.container .home a {
    /*border-bottom: 1px solid #e24a4a; */
    color: #000000;
    padding-bottom: .25em;
    text-decoration: none;
  }
  
  .container .home a:hover {
    font-weight: 500;
    font-style: oblique;

  }

 


  .container .row .second a {
    background:
       linear-gradient(
         to right,
         var(--mainColor) 0%,
         var(--mainColor) 5px,
         transparent 5px
       );
      background-repeat: repeat-x;
      background-size: 100%;
    color: #000;
    padding-left: 10px;
    text-decoration: none;
  }
  
  .container .row .second a:hover {
    background:
       linear-gradient(
         to right,
         var(--mainColor) 5%,
         var(--mainColor) 5px,
         transparent
       );
  }
  
  .container .row .second{
    border-bottom: 5px solid red;
}
  

.container-fluid .container{
    margin-top:80px;
    padding-bottom:100px;

}

.container-fluid .container .head2{
    margin-top:30px;
    margin-bottom: 40px;
    padding-top: 90px;
    padding-bottom: 20px;
        
}

.container-fluid .container .content p{
    padding-top:25px;
    font-style: oblique;

}
.head .bar, .head2 .bar, .head3 .bar, .head4 .bar{
    height: 5px;
    width: 90px;
    background: rgb(192, 121, 121);
    margin: 20px auto;
    position: relative;
    border-radius: 30px;
  }

  .container .about .row img {
      height:250px;
      width:100%;
      /*border-radius: 50%;*/
      margin-left:40px;

      display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
  
.container .about .row .round:hover img {
    -ms-transform:scale(1.0);
    -webkit-transform:scale(1.0);
    transform:scale(1.0);
    }

.container .about .row p {
    font-style: italic;
}

.container .about .row h4 {
    font-weight: bold;
}

.container .about{
    padding:0px;
    margin-top: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}


  /*bar scrolling*/
  .head .bar::before, .head2 .bar::before, .head3 .bar::before, .head4 .bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2.7px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background:red;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: MOVE-BG;
            animation-name: MOVE-BG;
  }
  
  @-webkit-keyframes MOVE-BG {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(88px);
              transform: translateX(88px);
    }
  }
  
  @keyframes MOVE-BG {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(88px);
              transform: translateX(88px);
    }
  }
  


  .ftco-section {
      margin-top:150px !important;

  }

  .ftco-section .container .row .image img{

      padding-bottom:10px;
      height: 400px;
      width:100%;

  }

  .team-page .container .team-header{
     text-align: center;
      padding:50px;
      font-size: 40px;
      padding-bottom:20px;


  }

  .team-page{
      /*color:white !important;*/
      padding:20px !important;
      
  }

  .head3{
      margin-top:140px;
      margin-bottom:20px;

  }

   .container .head3 p {
      font-size: 60px;
      color: black;
      text-align: center;
      margin-top:10px;
    }

  .container .head3 h5 {
      text-align: center;
  }
  .container .row .text {
    background-color: rgb(226, 226, 226);
  }

  .container .row .text2 {
        padding:30px;
        padding-top:30px;
        padding-bottom:30px;

}

.container .row .col .text p{
    padding:5px;
}


  .container .row .image .first img{
    height:330px;
    width:410px;
    padding-bottom:10px;
    
}

  .container-fluid .head4{
      text-align: center;
      margin-top: 20px;
      color: white;
  }

  .container .head4{
    text-align: center;
    margin-top: 20px;
    padding-top:40px;
}

  .graphics{
      margin-top:10px;
  }

  .graphics .head4{
      text-align: center;
  }

  .graphics .third img{
    height:250px;
    width: 100%;
    max-width: 100%;
    transition: transform .4s ease;
}

.graphics .third{
   overflow:hidden;
   
}

/*.graphics .third img:hover{
    transform:scale(1.1); 
    cursor: zoom-in;
} */

.container .row .animation1 p{
    padding:50px;
}

.services{
    margin-top:60px;
    height:475px;

}


.card_text{
    text-align: left;
}

.card2 img{
    width:100%;
    height: 500px;
}

.card2{
    border-bottom: 5px solid red;
}


.card3 img{
    width:100%;
    height: 350px;
}

.card3{
    border-bottom: 5px solid red;
}


.card4 img{
    width:100%;
    height: 425px;
}

.card4{
    border-bottom: 5px solid red;
}


.container .card3 .card_body .card_text{
    font-size: 8px;
}

.container .row .text_middle {
    background-color: rgb(226, 226, 226);
    height: 683px;
  }

  .container .row .text_middle2 {
    background-color: rgb(226, 226, 226);
    height: 580px;
  }

  .card4 .card_text p, .card2 .card_text p, .card3 .card_text p{
    font-style: oblique;
    font-weight:500;
    color:black;
  }

